.header {
  height: 80px;
}

.navbar {
  transition: 0.5s;
}

.navbar-brand img {
  width: 150px;
}

.nav-item a {
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-item a:hover {
  color: inherit;
}

.nav-item a.active {
  color: gray !important;
}
